.idea
.venv
.iml
deployment/.env
deployment/docker-compose.override.yml
deployment/volumes

__pycache__/

django_project/.pycharm_helpers/
celerybeat-schedule*
node_modules/
webpack-stats.*
secret.py
coverage.xml

django_project/.env
django_project/tmp/
django_project/frontend/bundles/
django_project/frontend/stats.json
django_project/frontend/package-lock.json
django_project/frontend/webpack-stats.dev.json
django_project/frontend/webpack-stats.prod.json

docs/site/*
docks/mkdocs.yml
.direnv
docs/mkdocs.yml
